<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rain.module_two">

    <application

        android:theme="@style/AppTheme">
        <activity android:name=".Test1Activity" />
        <activity android:name=".Test2Activity" />
        <activity android:name=".Test3Activity" />
        <activity android:name=".Test4Activity" />
        <activity android:name=".Test5Activity" />
        <activity android:name=".TestWebview" />
        <activity android:name=".SchemeFilterActivity">
            <!--scheme-->
            <intent-filter>
                <data
                    android:host="m.aliyun.com"
                    android:scheme="arouter" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="m.aliyun.com"
                    android:scheme="http" />
                <data
                    android:host="m.aliyun.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>

    </application>

</manifest>